<!DOCTYPE html>
<!--[if lt IE 10]> <html class="lt-ie10 no-js"  lang=""> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang=""> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/main.css">

    <link rel="author" type="text/plain" href="humans.txt" />


    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <!-- metadata for Twitter Card -->
    <meta name="description" content="">
    <meta itemprop="name" content="">
    <meta itemprop="description" content="" >
    <meta itemprop="image" content="" >
    <meta name="twitter:card" content="" >
    <meta name="twitter:site" content="" >
    <meta name="twitter:title" content="" >
    <meta name="twitter:description" content="" >
    <meta name="twitter:creator" content="" >
    <meta name="twitter:image" content="" >
</head>

{% include header.html %}

  <body>
  
    {{ content }}

  </body>

{% include footer.html %}

</html>
