<!doctype html>
<html lang="en">
<!--[if lt IE 10]> <html class="lt-ie10 no-js"  lang=""> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang=""> <!--<![endif]-->

<head>

    {% include meta.html %}

    <!-- build:css /assets/styles/main.css -->
    <link rel="stylesheet" href="/assets/styles/main.css">
    <!-- endbuild -->
    <link rel="author" type="text/plain" href="humans.txt" />
    
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300italic,300,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="flexslider.css" type="text/css">

</head>

{% include header.html %}

  <body>

    {{ content }}

  </body>

{% include footer.html %}

</html>
