body{
}

/***** Header *******************************************/

.header {
	width: 100%;
	height: 50px;
	background-color: #133B8B;
	opacity: .9;
}

h1 {
	font-size: 16px;
	color: $secondary-color;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	padding-top: 14px;
	padding-left: 20px;
	float: left;
	margin: 0px;
}

.navbar {
	float:right;
	font-size: 14px;
	font-family: $base-font-family;
	padding-top: 14x;
	margin-top: 12px;
}

.navbar-content {
	list-style-type: none;
	line-height: 1.5rem;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

.navbar-title {
	float: right;
	padding-left: 10px;
	margin-right: 30px;
}

a {
	color: $secondary-color;
	text-decoration: none;
}

/***** Intro Section *******************************************/

.main-content {
	margin: 0;
	padding: 0;
}

.content-intro {
	background-color: $base-color;
}

h2 {
	font-family: $base-font-family;
	font-size: 1.75rem;
	color: $secondary-color;
	margin: 0;
	padding: 0;
}

.content-text {
	position: relative;
	margin-left: 14%;
	width: 50%;
	top: 28%;
}

.button {
	margin-top: 35px;
}

.bttn-content {
	background: #133B8B;
	margin-right: 14px;
	padding: 10px 28px;
	text-align: center;
	font-size: 12px;
	border-radius: 4px;
}


/***** Data Section *******************************************/

.content-data {
	background: #F7F7F7;
	height: 650px;
}

h3{
	color: $primary-color;
	font-family: $base-font-family;
	font-size: 1.75rem;
	margin: 0;
	padding: 0;
}

.data {
	position: relative;
	width: 50%;
	margin: 0 auto;
	padding-top: 50px;
}

.data-text {
	text-align: center;
	padding-top: 50px;

	p {
		color: $primary-color;
	}
}

.card-container .button {
	margin-top: 45px;
}

.data-card {
	display: inline-block;
	min-width: 30%;
	color: $base-color;
	background: #ffffff;
	border-radius: 4px;
	border: 1px solid #EBEBEB;
	padding: 10px 45px 20px 45px;
	margin-right: 4px;
	margin-left: 4px;
	margin-top: 8px;
}

.card-prose{
	text-align: left;
}

.card-prose p{
	color: $primary-color;
	font-size: 12px;
	font-weight: normal;
}


/***** Carousal *******************************************/


/*img {
	position: absolute;
	width: 100%;
	opacity: .5;
}
*/


.content-usecase {
	position: relative;
	height: 480px;
}

.background-image {
	position: absolute;
	background: url("../graphics/satellite_image.png") no-repeat center center;
	height: 480px;
	width: 100%;
	background-size: cover;
	margin: 0;
}


.usecase-carousal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .9;
}

.carousal-header {
	position: absolute;
	background-color: black;
	height: 50px;
	width: 100%;
	opacity: .6;
}

.carousal-text {
	color: #ffffff;
	position: absolute;
	margin-left: 14%;
	margin-top: 4px;
	padding-top: 12px;
}


/*.carousal-text {
	color: white;
	position: relative;
	margin-left: 14%;
	font-weight: lighter;
	padding-bottom: 8px;
}*/

.usecase-content {
	position: relative;
	margin-left: 14%;
	width: 50%;
	top: 33%;

	h3 {
		color: white;
	}
}


/***** Use cases *******************************************/



.content-contribute {
	background-color: $tertiary-color;
	height: 650px;

		h3 {
			text-align: center;
			padding-top: 8%;
		}
}

.content-container {
	margin-top: 40px;
	margin-left: 20%;
	margin-right:20;
	max-width: 800px;
	height: 650px;

}

.contribute-card {
	display: inline-block;
	max-width: 300px;
	margin-bottom: 40px;
	padding: 30px;
	vertical-align: top;

		p {
			color: $primary-color;
		}
}

h4{
	color: $primary-color;
	font-family: $base-font-family;
}

.deletemeplease{
	width:100%;
	background-color: #ccc;
}
