body{
}

.bttn-content:hover {
	background-color: #132F65;
}
/***** Header *******************************************/

.header {
	width: 100%;
	height: 50px;
	background-color: #133B8B;
	opacity: .9;
}

h1 {
	font-size: 16px;
	color: $secondary-color;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	padding-top: 14px;
	padding-left: 20px;
	float: left;
	margin: 0px;
}

.navbar {
	float:right;
	font-size: 14px;
	font-family: $base-font-family;
	padding-top: 14x;
	margin-top: 13px;
}

.navbar-content {
	list-style-type: none;
	line-height: 1.5rem;
	font-weight: 200;
	margin: 0;
	padding: 0;

	@media screen and (max-width: 544px) {
    font-size: 12px;
  }
}

.navbar-title {
	float: right;
	margin-right: 40px;
	@media screen and (max-width: 544px) {
    	margin-right: 15px;
    	padding-top: 2px;
  }
}

a {
	color: $secondary-color;
	text-decoration: none;
}

.navbar-title a:hover {
	color: $base-color;
}


/***** Intro Section *******************************************/

.main-content {
	margin: 0;
	padding: 0;
}

.content-intro {
	background-color: $base-color;
}

h2 {
	font-family: $base-font-family;
	font-size: 1.75rem;
	color: $secondary-color;
	margin: 0;
	padding: 0;
}

.content-text {
	position: relative;
	margin-left: 14%;
	width: 45%;
	top: 28%;
	padding: 10em 0em 18em;

	@media screen and (max-width: 561px) {
    width: 75%;
    margin-left: 10%;

  	}

	p {
		@media screen and (max-width: 777px) {
    	font-size: 14px;
  		}
	}
}

.content-text h2 {
	font-family: $base-font-family;
	font-size: 1.75rem;
	color: $secondary-color;
	margin: 0;
	padding: 0;

	@media screen and (max-width: 777px) {
    font-size: 22px;
  	}

  	@media screen and (max-width: 561px) {
  	font-size: 20px;
  	}

}

.button {
	margin-top: 35px;
}

.bttn-content {
	background: #254991;
	margin-right: 14px;
	padding: 10px 28px;
	text-align: center;
	font-size: 12px;
	border-radius: 4px;
}


/***** Data Section *******************************************/

.content-data {
	background: #F7F7F7;
}

h3{
	color: $primary-color;
	font-family: $base-font-family;
	font-size: 1.75rem;
	margin: 0;
	padding: 0;

	@media screen and (max-width: 777px) {
    font-size: 22px;
	}
}

.data {
	position: relative;
	margin: 0 auto;
	width: 65%;
	top: 10%;
	padding: 4em 0 16em 0;

}

.data-text {
	text-align: center;
	padding-top: 50px;

	p {
		color: $primary-color;

		@media screen and (max-width: 777px) {
    	font-size: 14px;
  		}
	}
}

.card-container .button {
	margin-top: 45px;
}

.data-card {
	display: inline-block;
	min-width: 130px;
	color: $base-color;
	background: #ffffff;
	border-radius: 4px;
	border: 1px solid #EBEBEB;
	padding: 10px 45px 20px 45px;
	margin-right: 4px;
	margin-left: 4px;
	margin-top: 8px;
}

.card-prose{
	text-align: left;
}

.card-prose p{
	min-width: 120px;
	color: $primary-color;
	font-size: 12px;
	font-weight: normal;
}


/***** Carousal *******************************************/


/*img {
	position: absolute;
	width: 100%;
	opacity: .5;
}
*/


.content-usecase {
	position: relative;
	height: 480px;
}

.background-image {
	position: absolute;
	background: url("../graphics/satellite_image.png") no-repeat center center;
	height: 480px;
	width: 100%;
	background-size: cover;
	margin: 0;
}


.usecase-carousal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .9;
}

.arrow-right {
  width: 0; 
  height: 0; 
  float: right;
  margin-top: 235px;
  margin-right: 28px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid gray;
}

.button {
	position: absolute;
	padding-top: 20px;
	margin: 0;
	width: 100%;
}

.usecase-carousal {

	.bttn-content {
	background: none;
	padding: 10px 28px;
	text-align: center;
	font-size: 12px;
	border: 2px solid #EBEBEB;
	}
}

.bttn-content:hover {
	background: #132F65;
	opacity: .8;
}



.carousal-header {
	position: absolute;
	background-color: black;
	height: 50px;
	width: 100%;
	opacity: .6;
}

.carousal-text {
	color: #ffffff;
	position: absolute;
	margin-left: 14%;
	margin-top: 4px;
	padding-top: 12px;
}


/*.carousal-text {
	color: white;
	position: relative;
	margin-left: 14%;
	font-weight: lighter;
	padding-bottom: 8px;
}*/

.usecase-content {
	position: relative;
	margin-left: 14%;
	width: 50%;
	top: 28%;

	h3 {
		color: white;
		@media screen and (max-width: 777px) {
   	 	font-size: 22px;
		}
	}
}


/***** Use cases *******************************************/



.content-contribute {
		h3 {
			text-align: center;
			padding-top: 8%;
		}
}

.content-container {
	margin-left: 20%;
	margin-right:20%;
	max-width: 800px;
	top: 10%;
	padding: 4em 0 7em 0;

}

.contribute-card {
	display: inline-block;
	max-width: 300px;
	margin-bottom: 40px;
	margin-top: 20px;
	padding: 30px;
	vertical-align: top;

	p {
		color: $primary-color;

		@media screen and (max-width: 561px) {
    	font-size: 14px;
  		}
	}
}

.usecase-content {
	@media screen and (max-width: 561px) {
    width: 75%;
    margin-left: 10%;
	}
}

.usecase-content p {
	@media screen and (max-width: 777px) {
    font-size: 14px;
  	}
}

h4{
	color: $primary-color;
	font-family: $base-font-family;
}

.deletemeplease{
	width:100%;
	background-color: #ccc;
}


/***** Footer *******************************************/

footer {
	background-color: #F7F7F7;
	padding: 0;
	margin: 0;
}

.footer-content {
	margin: 0 auto;
	top: 10%;
	text-align: center;
}

.footer-menu {
	list-style-type: none;
	font-size: 14px;
	font-family: $base-font-family;
	margin: 0;
	padding: 0;
}

.footer-menu .footer-nav {
	display: inline-block;
	padding: 30px 30px 15px 30px;
}

.footer-menu li a {
	color: $primary-color;
}

.footer-content p {
	text-align: center;
	padding-bottom: 30px;
	padding-top: 8px;
	margin: 0;
	font-size: 12px;
	color: $primary-color;
}
