body{
}

.bttn-content:hover {
	background-color: #132F65;
}
/***** Header *******************************************/

.header-wrapper {
	max-width: 80%;
	margin: auto;
}

.header {
	width: 100%;
	height: 50px;
	background-color: $base-color;
}

h1 {
	float:left;
	font-size: 16px;
	color: $secondary-color;
	font-family: $base-font-family;
	font-style: normal;
	margin: 0px;
}

.navbar {
	float:right;
	font-size: 14px;
	font-family: $base-font-family;
}

.navbar-content {
	list-style-type: none;
	line-height: 1.5rem;
	font-weight: 200;
	margin: 0;
	padding: 0;

	@media screen and (max-width: 544px) {
    font-size: 12px;
  }
}

.navbar-title {
	float: right;
	margin-right: 40px;
	
	@media screen and (max-width: 544px) {
    	margin-right: 15px;
    	padding-top: 2px;
  }
}

a {
	color: $secondary-color;
	text-decoration: none;
}

.navbar-title a:hover {
	color: $base-color;
}


/***** Intro Section *******************************************/

.main-content {
	margin: 0;
	padding: 0;
}

.content-intro {
	background-color: $base-color;
}

.content-wrapper{
	max-width: 80%;
	height: 33em;
	margin: auto;

}
/*.checkbox {
	position: absolute;
	margin-left: 50%;
	background: url("../graphics/checkbox.svg") no-repeat center center;
	height: 700px;
	width: 60%;
	opacity: .1;
	background-size: cover;

}*/

h2 {
	font-family: "Roboto Condense", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.75rem;
	color: $secondary-color;
	margin: 0;
	padding: 0;
}

p {
	line-height: $base-line-height;
	font-family: $base-font-family;
	color: $secondary-color;
	font-weight: $base-font-weight;
	font-size: $base-font-size;
} 

.content-text {
	position: relative;
	width: 60%;
	padding: 10em 0em 18em;

	@media screen and (max-width: 561px) {
    width: 75%;
    margin-left: 10%;

  	}

	p {
		color: #F7F7F7;
		
		@media screen and (max-width: 777px) {
    	font-size: 14px;
  		}
	}
}

.content-text h2 {
	font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: $base-font-regular;
	font-size: 1.75em;
	color: $secondary-color;
	margin: 0;
	padding: 0;

	@media screen and (max-width: 777px) {
    font-size: 1.8em;
  	}

  	@media screen and (max-width: 561px) {
  	font-size: 1.8em;
  	}

}

.content-text .button {
	position: absolute;
	padding-top: 35px;
	margin: 0;
	width: 100%;
}


.bttn-content {
	background: #254991;
	margin-right: 14px;
	padding: 12px 28px;
	text-align: center;
	font-size: 14px;
	border-radius: 4px;
}


/***** Data Section *******************************************/

.content-data {
	background: #F7F7F7;
}

h3{
	color: $primary-color;
	font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: $base-font-regular;
	font-size: 2.25rem;
	margin: 0;
	padding: 0;

	@media screen and (max-width: 777px) {
    font-size: 1.8em;
	}
}

.data {
	position: relative;
	margin: 0 auto;
	width: 65%;
	top: 10%;
	padding: 4em 0 16em 0;

}

.data-text {
	text-align: center;
	padding-top: 50px;

	p {
		color: $primary-color;

		@media screen and (max-width: 777px) {
    	font-size: 14px;
  		}
	}
}

.card-container .button {
	margin-top: 45px;
}

.data-card {
	display: inline-block;
	min-width: 130px;
	color: $base-color;
	background: #ffffff;
	border-radius: 4px;
	border: 1px solid #EBEBEB;
	padding: 10px 45px 20px 45px;
	margin-right: 4px;
	margin-left: 4px;
	margin-top: 8px;
}

.card-prose{
	text-align: left;
	padding-top: 20px;
}

.card-prose p{
	min-width: 120px;
	padding-top: .5em;
	color: $primary-color;
	font-size: 12px;
	font-weight: normal;
	line-height: .5em;
}


/***** Carousal *******************************************/


/*img {
	position: absolute;
	width: 100%;
	opacity: .5;
}
*/


.content-usecase {
	position: relative;
	height: 480px;
}

.background-image {
	position: absolute;
	background: url("../graphics/satellite_image.png") no-repeat center center;
	height: 480px;
	width: 100%;
	background-size: cover;
	margin: 0;
}


.usecase-carousal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .9;
}

.arrow-right {
  width: 0; 
  height: 0; 
  float: right;
  margin-top: 235px;
  margin-right: 28px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid gray;
}

.button {
	position: absolute;
	padding-top: 20px;
	margin: 0;
	width: 100%;
}

.usecase-carousal {

	.bttn-content {
	background: none;
	padding: 10px 28px;
	text-align: center;
	font-size: 12px;
	border: 2px solid #EBEBEB;
	}
}

.bttn-content:hover {
	background: #132F65;
	opacity: .8;
}



.carousal-header {
	position: absolute;
	background-color: black;
	height: 50px;
	width: 100%;
	opacity: .6;
}

.carousal-text {
	color: #ffffff;
	position: absolute;
	margin-left: 14%;
	margin-top: 4px;
	padding-top: 12px;
}


/*.carousal-text {
	color: white;
	position: relative;
	margin-left: 14%;
	font-weight: lighter;
	padding-bottom: 8px;
}*/

.usecase-content {
	position: relative;
	margin-left: 14%;
	width: 50%;
	top: 25%;

	@media screen and (max-width: 777px) {
	width: 70%;
	top: 22%;
  	}

	h3 {
		color: white;
		@media screen and (max-width: 777px) {
   	 	font-size: 1.8em;
		}
	}

	.biline {
		font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 1.3em; 
		line-height: 2em;
		margin: 0;
		padding: 0;

		@media screen and (max-width: 777px) {
		font-size: 1.2em;
		line-height: 1.6em;
		width: 100%;
  	}
}	

	p {
		padding-bottom: 2%;

		@media screen and (max-width: 777px) {
		font-size: .75em;
		}	
	}
}




/***** Use cases *******************************************/



.content-contribute {
		h3 {
			text-align: center;
			padding-top: 8%;
		}
}

/*.content-container {
	margin-left: 20%;
	margin-right:20%;
	max-width: 800px;
	top: 10%;
	padding: 4em 0 7em 0;

}*/

.card-holder {
	position: relative;
	margin: 0 auto;
	top: 10%;
	padding: 2em 0 10em 0;
	text-align: center;
}

.contribute-card {
	position: relative;
	display: inline-block;
	max-width: 300px;
	padding: 45px;
	vertical-align: top;
	text-align: left;

	p {
		color: $primary-color;

		@media screen and (max-width: 561px) {
    	font-size: 14px;
  		}
	}
}

/*.usecase-content {
	@media screen and (max-width: 561px) {
    width: 75%;
    margin-left: 10%;
	}
}

.usecase-content p {
	@media screen and (max-width: 777px) {
    font-size: 14px;
  	}
}*/

h4{
	margin: 0;
	padding: 0;
	color: $primary-color;
	font-family: $base-font-family;
}

.deletemeplease{
	width:100%;
	background-color: #ccc;
}


/***** Footer *******************************************/

footer {
	background-color: #F7F7F7;
	padding: 0;
	margin: 0;
}

.footer-content {
	margin: 0 auto;
	top: 10%;
	text-align: center;
}

.footer-menu {
	list-style-type: none;
	font-size: 14px;
	font-family: $base-font-family;
	margin: 0;
	padding: 0;
}

.footer-menu .footer-nav {
	display: inline-block;
	padding: 30px 30px 15px 30px;
}



.footer-menu li a {
	color: $primary-color;
}

.footer-menu li a:hover {
	color: $base-color;
}

.credits {
	margin: 0;
	padding: 0;
	text-align: center;
	padding-bottom: 2em;

}
.credits a {
	font-family: $base-font-family;
	font-size: .8em;
	color: $primary-color;
} 

.credits a:hover{
	color: $base-color;
}

.footer-content p:hover {
	color: $base-color;
}

.twitter {
	background-image: url("../graphics/twitter_2.png") no-repeat center center;
	height: 30px;
	width: 100%;
	margin: 0;
}
