/* ==========================================================================
   Variables
   ========================================================================== */

/* Colors
   ========================================================================== */

$base-color: #3B80D0;                   // Blue
$primary-color: #4A4A4A;				// dark gray
$secondary-color: #FFFFFF;				// white
$tertiary-color: #F7F7F7;				// light gray
$link-color: #000;


/* Typography
   ========================================================================== */

$root-font-size: 14px;

$base-font-color: tint($base-color, 8%);
$base-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-style: normal;
$base-font-light: 300;
$base-font-regular: 400;
$base-font-bold: 700;
$base-font-weight: $base-font-light;
$base-font-size: .86em;
$base-line-height: 1.6;

$secondary-font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
$tertiary-font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

$code-font-family: Menlo, Monaco, Consolas, "Courier New", monospace;


/* Decoration
   ========================================================================== */

/* Border radius */

$base-border-radius: 0.25rem;
$full-border-radius: 60rem;


/* Sizing, spacing and media queries
   ========================================================================== */

/* Sizing */

$site-header-y: 0 !default;

/* Spacing */

$global-spacing: 1rem;

/* Rows */

$row-min-width: 320px;
$row-max-width: 1280px;
$jeet-max-width: $row-max-width; // reset jeet.gs max width

/* Media queries */

$xsmall-range: 543px;
$small-range: 767px;
$medium-range: 991px;
$large-range: 1199px;
$xlarge-range: 1200px;

$screen: "only screen";
