---
layout: default
---

<div class="main-content">
	<section class="content-intro">
		<div class="content-wrapper">
			<div class="content-text">
				<h2>A free, comprehensive, standardized, linked set of election data for the world</h2>
				<p>The current lanscape of options for election data can be difficult to find and use  or financially out-of-reach for most journalists and civic hackers. We want the people  who work with election data to be able to get what they need. </p>
				<p class="button">
					<a class="bttn-content" href="#" title="Election Data"> 
					<span>Election Data</span>
					</a>
					<a class="bttn-content" href="#" title="Contribute">
					<span>Contribute</span>s
					</a>
				</p>
			</div>
		<div>	
	</section>	
	
	<section class="content-data">
		<div class="content-wrapper">
			<div class="data">
				<div class="data-text">

					<h3>Election Data</h3>
					<p>The current lanscape of options for election data can be difficult to find and use or financially out-of-reach for most journalists and civic hackers. We want the people who work with election data to be able to get what they need. 
					</p>
				</div>

				<div class="card-container">	
					<format class="data-card">
						<div class="card-prose">
							<h4>Afghanistan</h4>
							<p><b>Collected Since: </b>2009</p>
							<p><b>Election: </b>Presidential</p>
							<p><b>Format: </b>CSV</p>
						</div>
					</format>
					<format class="data-card">
						<div class="card-prose">
							<h4>Uganda</h4>
							<p><b>Collected Since: </b>2008</p>
							<p><b>Election: </b>Presidential</p>
							<p><b>Format: </b>CSV, PDF</p>
						</div>
					</format>
					<p class="button">
					<a class="bttn-content" href="#" title="View All"><span>View all datasets</span></a>
					</p>
				</div>	
			</div>
		</div>	
	</section>
	
	<section class="content-usecase">
		<div class = "flexslider">
			<ul class = "slides">

				{% for p in site.projects %}
					{% include projects.html title=p.title subtitle=p.subtitle descrip=p.description link=p.link %}
				{% endfor %}

			</ul>
		</div>
	</section>

	<section class="content-contribute">
			<div class="content-container">
				<h3>Ready to help?</h3>
				<div class="card-holder">
					<div class="contribute-card">
						<h4>Stories</h4>
						<p>How are you using the datasets available? Take a moment to share what you’ve worked on and how open election data has helped you. </p>
						<p class="button">
							<a class="bttn-content" href="#" title="share"><span>Share your story</span></a>
						</p>
					</div>	
					<div class="contribute-card">
						<h4>Contribute</h4>
						<p>Our highest priority is building a community around open quality election data, and we’d love you to join us. Contriibute by adding election data to our github.  </p>
						<p class="button">
							<a class="bttn-content" href="#" title="contribute"><span>Contribute</span></a>
						</p>
					</div>
				</div>
			</div>

	</section>
</div>
