<footer>
	<div class="footer-content">
		<ul class="footer-menu">
			<li class="footer-nav"><a href="#github"><img src="{{ site.baseurl }}/assets/graphics/github.svg" width="30px"></img></a></li>
			<li class="footer-nav"><a href="#twitter"><img src="{{ site.baseurl }}/assets/graphics/twitter.svg" width="30px"></img></a></li>
		</ul>
		<p class="credits">openelections@contact.com</p>
	</div>
</footer>

<script src="{{ site.baseurl }}/assets/scripts/vendor.min.js"></script>
<script src="{{ site.baseurl }}/assets/scripts/main.min.js"></script>
