<footer>
	<div class="footer-content">
		<ul class="footer-menu">
			<li class="footer-nav"><a href="#github"><i class = 'collecticons collecticons-github'></i></a></li>
			<li class="footer-nav"><a href="#twitter"><i class = 'collecticons collecticons-twitter'></i></a></li>
		</ul>
		<p class="credits"><a href="#credits">openelections@contact.com</a>
	</div>
</footer>

<!-- build:js /assets/scripts/vendor.js -->
<script src="/assets/scripts/vendor.js"></script>
<!-- endbuild -->
<!-- build:js /assets/scripts/bundle.js -->
<script src="/assets/scripts/bundle.js"></script>
<!-- endbuild -->
