<footer>
	<div class="footer-content">
		<ul class="footer-menu">
			<li class="footer-nav"><a href="#github"><span class = 'collecticons collecticons-github'></span></a></li>
			<li class="footer-nav"><a href="#twitter"><span class = 'collecticons collecticons-twitter'></span></a></li>
		</ul>
		<p class="credits"><a href="#credits">openelections@contact.com</a>
	</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.1/jquery.flexslider.min.js"></script>

<script src="/assets/scripts/vendor.js"></script>
<script src="/assets/scripts/bundle.js"></script>


<!-- <img src="{{ site.baseurl }}/assets/graphics/twitter_2.png"></img> For Becky to remember-->