<header class="header">
	<div class="header-width-fix">
		<div class="header-wrapper__guide">
			<a href="/"><h1>Open Elections</h1></a>
	 		<nav class="navbar">
				<ul class="navbar-content">
					<li class="navbar-title"><a href="{{ site.baseurl }}/about/" class="hvr-underline-reveal">About</a></li>
					<li class="navbar-title"><a href="{{ site.baseurl }}/guide/" class="hvr-underline-reveal">User Guide</li>
					<li class="navbar-title"><a href="{{ site.baseurl }}/guide/" class="hvr-underline-reveal">Election Data</a></li>
				</ul>
			</nav>
			<div class="rspv-menu">
				<div class="rspv-nvbr"><i class = 'collecticons collecticons-hamburger-menu rspv-nvbr-push'></i>
					<div class="rspv-dropdown">
						<a href="{{ site.baseurl }}/about/" class="rspv-animate"><li class="rspv-title">About</li></a>
						<a href="{{ site.baseurl }}/guide/" class="rspv-animate"><li class="rspv-title">Contribute</li></a>
						<a href="{{ site.baseurl }}/guide/" class="rspv-animate"><li class="rspv-title">Election Data</li></a>
					</div>
				</div>
			</div>	
		</div>	
	</div>
</header>
