<header class="header">
	<div class="header-width-fix">
		<div class="header-wrapper__guide">
			<a href="/"><h1>Open Elections</h1></a>
	 		<nav class="navbar">
				<ul class="navbar-content">
					<li class="navbar-title"><a href="{{ site.baseurl }}/about/" class="hvr-underline-reveal">About</a></li>
					<li class="navbar-title"><a href="{{ site.baseurl }}/guide/" class="hvr-underline-reveal">User Guide</li>
					<li class="navbar-title"><a href="{{ site.baseurl }}/guide/" class="hvr-underline-reveal">Election Data</a></li>
				</ul>
			</nav>
			<div class="rspv-menu">
				<div class="rspv-nvbr">
					<div class="rspv-dropdown">
						<li class="rspv-title"><a href="{{ site.baseurl }}/guide/" class="rspv-animate">About</a></li>
						<li class="rspv-title"><a href="{{ site.baseurl }}/guide/" class="rspv-animate">Contribute</li>
						<li class="rspv-title"><a href="{{ site.baseurl }}/guide/" class="rspv-animate">Election Data</a></li>
					</div>
				</div>
			</div>	
		</div>	
	</div>
</header>
