<header class="header">
	<div class="header-width-fix">
		<div class="header-wrapper">
		 	<a href="{{ site.baseurl }}"><h1>Open Elections</h1></a>
	 		<nav class="navbar">
				<ul class="navbar-content">
					<li class="navbar-title"><a href="{{ site.baseurl }}/guide/" class="hvr-underline-reveal">About</a></li>
					<li class="navbar-title"><a href="{{ site.baseurl }}/guide/" class="hvr-underline-reveal">Contribute</li>
					<li class="navbar-title"><a href="{{ site.baseurl }}/guide/" class="hvr-underline-reveal">Election Data</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
