{% if page.parent %}
  {% assign for=page.parent %}
{% else %}
  {% assign for=page.id %}
{% endif %}

{% assign subPages = site.pages | where: 'parent', for %}

<aside class="page-aside">
 <div class = "page__aside-pusher">&nbsp;</div>
	<div class = "page__aside-top">
		<div class = "page__aside-maintitle">
			<a href="{{ site.baseurl }}/guide/">Use Guide</a>
		</div>
		
			{% include aside-list-maker.html subject='About The Data'%}
			{% include aside-list-maker.html subject='Contributing'%}
			{% include aside-list-maker.html subject='Use'%}

  </div>

	<div class = "page__aside-bottom">
		<div class = "page__aside-category">
			<div class = "page__aside-title">Resources</div>
			<ul class = "page__aside-resources aside-menu">
				<li><a href="">Github</a></li>
				<li><a href="">LibreOffice</a></li>
				<li><a href="">OtherTools</a></li>
			</ul>
		</div>
	</div>

</aside>
