{% if page.parent %}
  {% assign for=page.parent %}
{% else %}
  {% assign for=page.id %}
{% endif %}

{% assign subPages = site.pages | where: 'parent', for %}

<aside class="page-aside-resp">
  
  <div class="aside-resp-nav">
    <span class='aside-resp-title'>Use Guide Menu</span><i class = 'collecticons collecticons-chevron-right'></i>
    <div class="aside-resp-menu">
      <div class="aside-resp-menuitems">
  {% if subPages == empty %}
  No content
  {% else %}
      {% for sp in subPages %}
          {% assign klass = "" %}
          {% if page.url == sp.url %}
            {% assign klass = "aside-menu-item--active" %}
          {% endif %}
        <li class = {{ klass }}><a href="{{ site.baseurl }}/{{ sp.permalink }}" title="View section" class="aside-menu-item">{{ sp.id }}</a></li>
      {% endfor %}
  {% endif %}     
      </div>
    </div>
  </div>

  <div class="page-aside-resp">
  </div>

<!--   <div class = "page__aside-top">
    <div class = "page__aside-maintitle">
      Use Guide 
    </div>
    
      {% include aside-list-maker.html subject='About'%}
      {% include aside-list-maker.html subject='Contributing'%}
      {% include aside-list-maker.html subject='Use'%}

  </div>

  <div class = "page__aside-bottom">
    <div class = "page__aside-category">
      <div class = "page__aside-title">Resources</div>
      <ul class = "page__aside-resources aside-menu">
        <li><a href="">Github</a></li>
        <li><a href="">LibreOffice</a></li>
        <li><a href="">OtherTools</a></li>
      </ul>
    </div>
  </div>
 -->
</aside>
