<li>

	<figure class="background-image"></figure>
	<div class="usecase-carousal">
		<div class="carousal-header">
			<span class="carousal-text">Election data use cases</span>
		</div>
		<div class="usecase-content">
			<h3>{{ include.title }}</h3>
			<p class="biline">{{ include.subtitle }}</p>		
			<p>{{ include.descrip }}</p>

			<p class="button">
				<a class="bttn-content" href="{{ include.descrip }}" title="usecase"> 
				<span>View use case</span>
				</a>
			</p>
		</div>
	</div>

 </li>
